<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Florian Neveu">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ app.request.pathInfo }}" />

    <title>{% block title %}Alnilam ⊡ {% endblock title %}</title>

    {% block meta %}
        {#
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Alnilam ⊡ Florian" />
        <meta name="twitter:description" content="Blabla descriptif" />
        <meta name="twitter:image" content="{{ asset('build/images/florian-neveu.6f47165b.jpg') }}" />
        <meta name="twitter:site" content="@fnev_eu" />
        <meta name="twitter:domain" content="{{ app.request.host }}">

        <meta property="fb:app_id" content="289262524504825" />
        <meta property="og:site_name" content="Le Tag Parfait : le magazine de la culture porn" />
        <meta property="og:title" content="Le Tag Parfait : le magazine de la culture porn" />
        <meta property="og:url" content="https://www.letagparfait.com/fr/" />
        <meta property="og:description" content="Le premier magazine français sur la culture porno" />
        <meta property="og:type" content="website" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="https://www.letagparfait.com/choses/letagparfait_512x512.png" />
        <meta property="og:image:width" content="630" />
        <meta property="og:image:height" content="315" />
        #}
    {% endblock meta %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock stylesheets %}

    {{ include('front/_favicon.html.twig') }}
</head>

<body>
    <header id="mainHeader" class="{% block headerClasses %}header header-with-bg{% endblock headerClasses %}">
        <a href="#mainContent" class="go-main-content">Aller au contenu</a>

        {%- block header -%}
        {%- endblock header -%}
    </header>

    {{ include('front/_navigation.html.twig') }}

    <div id="mainContent" class="content">
        {% block body %}
        {% endblock body %}
    </div><!-- !#mainContent.content -->
    {{ include('front/_footer.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
    {% endblock javascripts %}
</body>
</html>