{% extends 'front/base.html.twig' %}

{% block title -%}
    Alnilam
{%- endblock title %}

{% block headerClasses -%}header header-home header-dark{%- endblock headerClasses %}

{% block header %}
    <div class="content">
        <a href="{{ path('home') }}" class="logo">Alnilam</a>
        <h1 class="h1 typewriter">Alnilam initialisée.</h1>
    </div>
{% endblock header %}

{% block body %}
        <p>
            Bienvenue sur <a href="{{ path('project', {'slug': 'alnilam'}) }}">Alnilam</a>, portfolio et "vitrine public"
            de <a href="{{ path('about') }}">Florian Neveu</a>. Alnilam a vu le jour le 31 janvier 2020 à 18:42, soit il y
            a {{ birthday_count_days }} jours. Vous y trouverez <a href="{{ path('project_index') }}">projets</a> en
            cours ou passé, tentatives d'articles ou encore des sortes d'études de cas sur des travaux qui me tiennent à
            coeur.
        </p>

        {#<div class="dual-col">
            <a href="#" class="btn">
                Mettre à disposition des vidéos tout en les protégeant le plus possible du téléchargement direct.
                <span>Studio de production Carré Rose Films</span>
            </a>

            <a href="#" class="btn">
                Faciliter l'intégration de web-services à l'iade d'un connecteur universel
                <span>Wiztopic</span>
            </a>
        </div>#}
    </div><!-- !#mainContent.content -->
{% endblock body %}