{% extends 'front/base.html.twig' %}

{% block title -%}
    {{ parent() ~ 'Alnilam' }}
{%- endblock title %}

{% block meta -%}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Alnilam ⊡ Alnilam" />
    <meta name="twitter:description" content="Alnilam, plate-forme web personnelle." />
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('images/projets/alnilam/alnilam.png') }}" />
    <meta name="twitter:site" content="@fnev_eu" />
    <meta name="twitter:domain" content="{{ app.request.host }}">

    <meta property="og:title" content="Alnilam ⊡ Alnilam" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.pathInfo }}" />
    <meta property="og:description" content="Alnilam, plate-forme web personnelle." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('images/projets/alnilam/alnilam.png') }}" />
{% endblock meta %}

{% block headerClasses -%}
    {{ parent() ~ ' header-alnilam' }}
{%- endblock headerClasses %}

{% block body %}
    <h1 class="h1">Alnilam</h1>

    <div class="flex">
        <p class="muted left">
            Stack : Symfony, Javascript, HTML, CSS
        </p>
        <p class="right muted">
            Dernière activité : {{ last_activity|date('d/m/Y à H:i') }} -
            Commits : {{ total_commits }}<br>
            <a href="https://alnilam.fnev.eu">Site Internet</a>
            -
            <a href="https://github.com/fnev-eu/alnilam">Source</a>
        </p>
    </div>

    <p>
        Alnilam est une plate-forme que je développe dans le but de centraliser tout ce que je produis sur le web. La
        version actuelle est encore une ébauche puisqu'à terme le contenu devra être administrable et si éventuellement
        ne plus reposer sur Symfony.
    </p>
    <p>
        Étant fatigué de l'usage massif et pas toujours justifié de jQuery, j'ai souhaité ne pas utiliser de librairie
        javascript pour ce projet et ainsi me forcer à exploiter le JS natif.
    </p>
    <p>
        Mes "petits plaisirs" sur ce projet sont la <a href="{{ path('random') }}">page aléatoire</a> permettant d'aller
        sur presque n'importe quelle page du site, ou encore la remontée d'informations sur les projets directement via
        l'<a href="https://developer.github.com/v3/" rel="nofollow" target="_blank">API de Github</a>, comme vous pouvez
        le voir en haut de cette page.
    </p>
{% endblock body %}