{% extends 'front/base.html.twig' %}

{% block title -%}
    {{ parent() ~ 'Projets' }}
{%- endblock title %}

{% block headerClasses -%}
    header header-dark header-home content
{%- endblock headerClasses %}

{% block header %}
    <a href="{{ path('home') }}" class="logo">Alnilam</a>
{% endblock header %}

{% block body %}
    <h1 class="h1">{{ 'projects.index.intro'|trans({}, 'front') }}</h1>

    <div class="flex projects-list">
        {% for project in projects %}
            <article>
                <a href="{{ path('project', {'slug': project.slug}) }}">{{ project.name }}</a>
                <span>{{ project.shortDescription }}</span>
            </article>
        {% endfor %}
    </div>
{% endblock body %}
