{% extends 'front/base.html.twig' %}

{% block title -%}
    {{ parent() ~ 'Le Tag Parfait' }}
{%- endblock title %}

{% block meta -%}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Alnilam ⊡ Le Tag Parfait" />
    <meta name="twitter:description" content="Le Tag Parfait, le magazine de la culture porn." />
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('images/projets/le-tag-parfait/le-tag-parfait.png') }}" />
    <meta name="twitter:site" content="@fnev_eu" />
    <meta name="twitter:domain" content="{{ app.request.host }}">

    <meta property="og:title" content="Alnilam ⊡ Le Tag Parfait" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.pathInfo }}" />
    <meta property="og:description" content="Le Tag Parfait, le magazine de la culture porn." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('images/projets/le-tag-parfait/le-tag-parfait.png') }}" />
{% endblock meta %}

{% block headerClasses -%}
    {{ parent() ~ ' header-le-tag-parfait' }}
{%- endblock headerClasses %}

{% block body %}
    <h1 class="h1">Le Tag Parfait : le magazine de la culture porn.</h1>

    <div class="flex">
        <p class="muted left">
            Stack : Wordpress, MySQL, jQuery, HTML, CSS
        </p>
        <p class="right muted">
            Dernière activité : {{ last_activity|date('d/m/Y à H:i') }} -
            Commits : {{ total_commits }}<br>
            <a href="https://www.letagparfait.com" target="_blank">Site Internet</a>
        </p>
    </div>

    <p>En cours de rédaction.</p>
{% endblock body %}