{% extends 'front/base.html.twig' %}

{% block title -%}
    {{ parent() ~ project.name }}
{%- endblock title %}

{% block meta -%}
    {% if project.description %}
        <meta name="description" content="{{ project.description }}" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Alnilam ⊡ {{ project.name }}" />
    {% if project.description %}
        <meta name="twitter:description" content="{{ project.description }}" />
    {% endif %}
    {% if project.cover %}
        <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ vich_uploader_asset(project, 'coverFile') }}" />
    {% endif %}
    <meta name="twitter:site" content="@fnev_eu" />
    <meta name="twitter:domain" content="{{ app.request.host }}">

    <meta property="og:title" content="Alnilam ⊡ {{ project.name }}" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.pathInfo }}" />
    {% if project.description %}
        <meta property="og:description" content="{{ project.description }}" />
    {% endif %}
    <meta property="og:type" content="article" />
    {% if project.cover %}
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ vich_uploader_asset(project, 'coverFile') }}" />
    {% endif %}
{% endblock meta %}

{% block headerClasses -%}
    {% if not project.cover %}
        header
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock headerClasses %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .header.header-with-bg {
            background: url({{ vich_uploader_asset(project, 'coverFile') }}) center no-repeat;
            background-size: cover;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    <h1 class="h1">{{ project.title }}</h1>

    <div class="flex">
        <p class="muted left">
            {% if project.stack %}
                {{ 'projects.show.stack'|trans({}, 'front') ~ ' ' ~ project.stack }}<br>
            {% endif %}

            {{ project.team }}
        </p>
        <p class="right muted">
            {% if project.githubActivity %}
                {{ 'projects.show.commits'|trans({}, 'front') ~ ' ' ~ project.githubActivity.totalCommits }}

                {% if project.githubActivity.lastCommit %}
                    - {{ 'projects.show.last_activity'|trans({}, 'front') }} <abbr title="{{ project.githubActivity.lastCommit.committer.date|date('d/m/Y à H:i', 'Europe/Paris') }}">
                    {{ project.githubActivity.lastCommit.committer.date|date('U', 'Europe/Paris') }}
                {% endif %}
            </abbr><br>
            {% endif %}

            {% if project.url %}
                <a href="{{ project.url }}" target="_blank">{{ 'projects.show.website'|trans({}, 'front') }}</a>
            {% endif %}

            {{ project.url and project.githubDisplayed and project.githubOwner and project.githubRepository ? '-' }}

            {% if project.githubDisplayed and project.githubOwner and project.githubRepository %}
                <a href="{{ 'https://github.com/' ~ project.githubOwner ~ '/' ~ project.githubRepository }}" target="_blank">
                    {{ 'projects.show.source'|trans({}, 'front') }}
                </a>
            {% endif %}
        </p>
    </div>

    {{ project.content|raw }}
{% endblock body %}
