<!DOCTYPE html>

<title>Project index</title>

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Sort</th>
                <th>Enabled</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.slug }}</td>
                <td>
                    {% if project.sort %}
                        <a href="{{ path('back_projects_direction', {'id': project.id, 'direction': 'up'}) }}">
                            &lt;
                        </a>
                    {% else %}
                        &lt;
                    {% endif %}
                    {{ project.sort ?: 0 }}
                    <a href="{{ path('back_projects_direction', {'id': project.id, 'direction': 'down'}) }}">
                        &gt;
                    </a>
                </td>
                <td>{{ project.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('project', {'slug': project.slug}) }}">show</a>
                    <a href="{{ path('back_projects_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_projects_new') }}">Create new</a>
{% endblock %}
