{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}

    <table>
        <thead>
            <tr>
                <th>Nom/alias</th>
                <th>URL</th>
                <th>Activé</th>
                <th>Visité</th>
                <th>Créé par</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for shorten_url in shorten_urls %}
                <tr>
                    <td>{{ shorten_url.name ? shorten_url.name ~ ' (' ~ shorten_url.shortenUrl ~ ')' : shorten_url.shortenUrl }}</td>
                    <td><a href="{{ shorten_url.url }}" target="_blank">
                            {{ shorten_url.url }}
                        </a></td>
                    <td>{{ shorten_url.enabled ? 'Oui' : 'Non' }}</td>
                    <td>{{ shorten_url.used }}</td>
                    <td>{{ shorten_url.createdBy ? shorten_url.createdBy.username : '--' }}</td>
                    <td>
                        <a href="{{ path('back_url_shortener_toggle', {'shortenUrlId': shorten_url.id}) }}">
                            {{ shorten_url.enabled ? 'Désactiver' : 'Activer' }}
                        </a>
                        <a href="{{ path('back_url_shortener_remove', {'shortenUrlId': shorten_url.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
