{% extends 'front/tools/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Raccourcisseur d'URL</h1>

        <form action="{{ path('url_shortener_index') }}" method="post" class="row">
            <div class="col-md-10">
                {{ form_widget(form.url) }}
            </div>
            <div class="col-md-2 text-right">
                <input type="submit" class="btn btn-primary btn-block" value="Raccourcir">
            </div>

            {{ form_row(form._token) }}
        </form>

        {% if app.request.session.has('shorten_urls') %}
            <ul class="list-unstyled">
                {% for shorten_url in app.request.session.get('shorten_urls')|slice(0, 10) %}
                    {% set short_url = app.request.getSchemeAndHttpHost()
                        ~ app.request.getBaseUrl
                        ~ app.request.getPathInfo
                        ~ shorten_url.shortenUrl
                    -%}

                    <li class="row">
                        <div class="col-md-9">
                            {{ shorten_url.url }}
                        </div>
                        <div class="col-md-3 text-right">
                            <a href="{{ short_url }}">
                                {{ short_url }}
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock body %}
